<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team X</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'football/css/style.css' %}">
</head>
<body>
    <div id="rapper">
        <div id="header">
            <div id="d">De'Champions</div>
             <a href="/players" id="p">all players</a>
        </div>
        
       <div></div>
       <div id="record">
            <h4>Record: 6-0</h4>
       </div>
       <div></div>
       <div id="my_players">
            <h1>Max's Players</h1>
            {% for player in my_players %}
                 <p>{{player.first_name}} {{player.last_name}} {{player.position}}</p>
            {% endfor %}
       </div>
       <div></div>
       <div id ="new">
           <h2>Roster</h2>
        <table>
            </tr>
            {% for qb in my_qbs %}
            
            <tr>
                <th>QB</th>
                <td>{{qb.first_name}} {{qb.last_name}}</td>
           {% endfor %}

            </tr>
            {% for rb in my_rbs %}
            
            <tr>
                <th>RB</th>
                <td>{{rb.first_name}} {{rb.last_name}}</td>
           {% endfor %}

            </tr>
            {% for wr in my_wrs %}
            
            <tr>
                <th>WR</th>
                <td>{{wr.first_name}} {{wr.last_name}}</td>
           {% endfor %}

            </tr>
        </tr>
        {% for te in my_tes %}
        
        <tr>
            <th>TE</th>
            <td>{{te.first_name}} {{te.last_name}}</td>
       {% endfor %}

        </tr>
        </table>
       </div>
       
       
       <h2><a href="/">Return to Home</a></h2>
    </div>
</body>
</html>