#green{
    color:white;
    background-color: black;
    text-decoration: none;
}
#other {
    text-align: left;
}
#details{
    margin-left:30%;
    /* background-color:blue; */
    opacity: .5;
    display: inline-block;
    padding: 14px;
    width:50%;
    text-align: center;
    background-color: black;
    /* color: black; */
}
#spacer {
    height:300px;
    text-align: left;
    /* background-color:blue; */
}
/* unidentified player */
.basic{
    background-image:url('/static/football/images/nfl2.jpg');
    background-size: cover;
    color: aqua;
}
/* Tyreek Hill */
.Tyreek{
    background-image:url('/static/football/images/tyreek.jpeg');
    background-size: cover;
    color: red;
    text-align: right;
}
/* Rob Gronkowski */
.Gronk{
    background-image:url('/static/football/images/gronk.jpg');
    background-size: cover;
    color: aqua;
}
/* Le'Veon Bell */
.Bell{
    background-image:url('/static/football/images/bell.jpg');
    background-size: cover;
    color: gold;
}
/* Todd Gurley */
.Gurley{
    background-image:url('/static/football/images/gurley.jpg');
    background-size: cover;
    color: gold;
    text-align: right;
}
/* Julio Jones */
.Julio{
    background-image:url('/static/football/images/julio.jpg');
    /* background-size: cover; */
    background-size: 39cm;
    background-repeat: no-repeat;
    color: rgb(227, 41, 8);
    text-align: right;
}
/* Cam Newton */
.Cam{
    background-image:url('/static/football/images/cam.jpg');
    background-size: cover;
    color: rgb(0, 225, 255);
    text-align: right;
}
/* Michael Thomas */
.MT{
    background-image:url('/static/football/images/MT.jpg');
    background-size: cover;
    color: gold;
    text-align: right;
}
/* Davante Adams */
.Davante{
    background-image:url('/static/football/images/Davante.jpeg');
    background-size: cover;
    color: green;
    text-align: center;
}
/* Zach Ertz */
.Ertz{
    background-image:url('/static/football/images/zach.png');
    background-size: cover;
    color: white;
    text-align: center;
}
/* Christian McCaffery */
.CM{
    background-image:url('/static/football/images/cm2.jpg');
    background-size: cover;
    color: white;
    text-align: right;
}
/* Leonard Fournette */
.Fournette{
    background-image:url('/static/football/images/fournette.jpg');
    background-size: cover;
    color: green;
    text-align: right;
}
/* David Johnson */
.DJ{
    background-image:url('/static/football/images/dj.jpg');
    background-size: cover;
    color: red;
    text-align: center;
}
/* Tom Brady */
.Brady{
    background-image:url('/static/football/images/tb12.jpg');
    background-size: cover;
    color: rgb(117, 117, 219);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3ch;
}
/* Aaron Rodgers */
.Arod{
    background-image:url('/static/football/images/arod2.jpg');
    background-size: cover;
    color: rgb(117, 117, 219);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3ch;
}
/* Larry Fitzgerald */
.Larry{
    background-image:url('/static/football/images/larry.jpg');
    background-size: cover;
    color: rgb(117, 117, 219);
    text-align: right;
}
/* Deshaun Watson */
.Deshaun{
    background-image:url('/static/football/images/d.jpg');
    background-size: cover;
    color: rgb(117, 117, 219);
    text-align: right;
}
/* Joe Mixon */
.Mixon{
    background-image:url('/static/football/images/mixon.jpg');
    background-size: cover;
    color: rgb(228, 107, 15);
    text-align: right;
}
/* Michael Jann */
.MJ{
    background-image:url('/static/football/images/mj.jpg');
    background-size: cover;
    color: whitesmoke;
    text-align: right;
}


#gohome a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: black;
    color:whitesmoke;
    background-color:black;
    padding: 5px;
    padding-top:0px;
    opacity: .6;
}

#gohome a:hover {
    background-color:blue;
}

#summary {
    background-color:black;
    line-height: 150%;
    font-size: 3ch;
    overflow: auto;
    height: 400px;
}