/* outline not working */

.blue{
    color: blue;
}
#starters{
    color:gold;
    display:inline-block;
    padding: 40px;
    margin:20px;
    background-color:rgb(17, 218, 17);
}
#bench{
    color:red;
    display:inline-block;
    padding: 40px;
    margin:20px;
    background-color:rgb(184, 32, 22);
}
#title{
    color:pink;
    background-color:black;
    padding:20px;
    margin:10px;
}
#record{
    display: inline-block;
    font-size: 5ch;
    background-color:gray;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom:5px;
    margin:10px;
}
#xp {
    color:blue;
    font-size:26px;
}