.Maxwell {
    color:gold;
    background-image: url('/static/football/images/maxwell.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Michael {
    color:gold;
    background-image: url('/static/football/images/mckenna.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Devin {
    color:gold;
    background-image: url('/static/football/images/devin.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Chris {
    color:gold;
    background-image: url('/static/football/images/ckazz.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Justin {
    color:gold;
    background-image: url('/static/football/images/jsilbs.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Ernie {
    color:gold;
    background-image: url('/static/football/images/ernie.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Andrew {
    color:gold;
    background-image: url('/static/football/images/andrew.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Trevor {
    color:gold;
    background-image: url('/static/football/images/goodwin.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Devon {
    color:gold;
    background-image: url('/static/football/images/devo.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}
.Dylan {
    color:gold;
    background-image: url('/static/football/images/dylan.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color:blue;
}